#color{
    color: #002970;
}
#background{
    
    background-color: #c2c3c4;
    padding: 3px;
    border-radius: 3px;
    margin-right: 0px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f6f9ff;
}

.login-box {
    margin-top: 5px;
    padding: 20px;
    background-color:#ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
    
.login-box input {
    
    padding: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
}



#dashboardTable_info,#dashboardTable_wrapper .dt-layout-row:first-child .dt-start {
    display:none
}
div.dt-container .dt-paging .dt-paging-button.current,div.dt-container .dt-paging .dt-paging-button.current{
    color:white!important;
}
th.dt-type-numeric.dt-orderable-asc.dt-orderable-desc.dt-ordering-asc,td.dt-type-numeric.sorting_1,th.dt-orderable-asc.dt-orderable-desc,th.dt-orderable-asc.dt-orderable-desc.dt-ordering-asc,td{
    text-align:center!important;
}
/* td {
    text-align: center;
  }
   */
  select {
    margin: auto;
    display: block;
  }
  




